.newarrivals 
{
    
    #tabs
    {
        margin: 15px 0;
        ul 
        {
            text-align: center;
            border-bottom: 2px solid #eee;
            padding: 20px 0;
            li 
            {
                padding: 10px 10px;
                a 
                {
                    font-size: 25px;
                    color: #000;
                    font-weight: 600;
                    
                    &.active, a:hover
                    {
                       color:#f6344b; 
                    }
                }
            }
        }
    }
    .imagebox
        {
            position: relative;
            overflow: hidden;
            margin: 20px 0;
            opacity: 1;
            transition: 0.9s;
            &:hover
            {
                opacity: 0.5;
              
            }
            &:hover .innerleft
            {
                transform: translate(0px, 0);
                background: #444;
                transition: all 0.14s ease 0s;
                opacity: 1;
                z-index: 0;
            }
            &:hover .innerleft1
            {
                transform: translate(0px, 0);
                background: #444;
                transition: all 0.11s ease 0s;
                opacity: 1;
                z-index: 1;
            }
            &:hover .innerleft2
            {
                transform: translate(0px, 0);
                background: #444;
                transition: all 0.8s ease 0s;
                opacity: 1;
                z-index: 2;
            }
            &:hover .innerleft3
            {
                transform: translate(0px, 0);
                background: #444;
                transition: all 0.6s ease 0s;
                opacity: 1;
                z-index: 3;
            }
           img 
           {
               transition: 0.9s;
               &:hover 
               {
                   transform: scale(1.1);
               }
           }
           .innerleft 
           {
            position: absolute;
            width: 40px;
            height: 40px;
            background: #333;
            top: 93px;
            left: 0;
            color: #fff;
            transform: translate(-40px, 0);
            text-align: center;
            padding: 7px 0;
                a 
                {
                    color: #fff;
                }
                &:hover 
                {
                    background: #f6344b;
                    width: 80px;
                }
            }
           .innerleft1
           {
            position: absolute;
            width: 40px;
            height: 40px;
            background: #333;
            top: 140px;
            left: 0;
            color: #fff;
            transform: translate(-40px, 0);
            text-align: center;
            padding: 7px 0;
                a 
                {
                    color: #fff;
                }
                &:hover 
                {
                    background: #f6344b;
                    width: 80px;
                }
           }
           .innerleft2 
           {
            position: absolute;
            width: 40px;
            height: 40px;
            background: #333;
            top: 187px;
            left: 0;
            color: #fff;
            transform: translate(-40px, 0);
            text-align: center;
            padding: 7px 0;
                a 
                {
                    color: #fff;
                }
                &:hover 
                {
                    background: #f6344b;
                    width: 80px;
                }
           }
           .innerleft3 
           {
            position: absolute;
            width: 40px;
            height: 40px;
            background: #333;
            bottom: 52px;
            left: 0;
            color: #fff;
            transform: translate(-40px, 0);
            text-align: center;
            padding: 7px 0;
                a 
                {
                    color: #fff;
                }
                &:hover 
                {
                    background: #f6344b;
                    width: 80px;
                }
           }
          
        }

        h6 
        {
            color: #f6344b;
            font-size: 14px;
        }
        h5 
        {
            color:#D02323;
        }
        i 
        {
            font-size: 14px;
            color: rgb(165, 161, 161);
        }
}
.banner 
{
    .ban 
    {
        position: relative;
        img 
        {
            padding: 15px 0;
            opacity: 1;
            &:hover 
            {
                opacity: 0.5;
            }
           
        }
    }
 .content 
  {
      position: absolute;
      top: 61px;
      left: 45px;
      h4 
      {
          color: #f6344b;
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 0;
      }
      p 
      {
          color: rgb(165, 161, 161);
          font-size: 17px;
      }
  }
  .content1 
  {
    position: absolute;
    top: 61px;
    left: 45px;
    h4 
    {
        color: #f6344b;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 0;
    }
    p 
    {
        color: rgb(165, 161, 161);
        font-size: 17px;
    }
  }
  .btn1 
  {
    position: absolute;
    bottom: 70px;
    left: 45px;
    background: #D02323;
    border: none;
    color: #fff;
  }
}